g4f
langchain
langchain-community
pandas
langchain-huggingface
unstructured
openpyxl
pytest
pytest-asyncio
pytest-mock
kagglehub
click
python-dotenv
pydantic
pydantic-settings
sentence-transformers
colorama
flake8